:root {
	--qv-gap: 20px;
	--qv-padding-sm: 15px;
	--qv-padding-lg: 30px;
	--qv-primary: #c14242;
	--qv-dark: #333;
	--qv-light: white;
	--qv-muted: #f0f0f1;
	--qv-radius: 10px;
	--qv-breakpoints-md: 981px;
}

/*helpers*/
.qv-list {
	margin-left: 0;
	margin-bottom: 0;
	list-style: none;
}

/*Grilla*/
.qv-grid {
	display: grid;
	gap: var(--qv-gap);
}
@media (min-width: 981px) {
	.qv-grid-1-1 {
		grid-template-columns: repeat(2, 1fr);
	}
	.qv-grid-1-2 {
		grid-template-columns: 1fr 2fr;
	}
	.qv-grid-1-3 {
		grid-template-columns: 1fr 3fr;
	}
	.qv-grid-2-3 {
		grid-template-columns: 2fr 3fr;
	}
}

.qv-header {
	h1 {
		margin-bottom: 0;
	}
}

p {
	margin-bottom: 10px;
	line-height: 1.5em;
}
.qv-btn {
	padding: 5px 10px;
	display: block;
	border-radius: var(--qv-radius);
	background-color: var(--qv-primary);
	text-align: center;
	color: var(--qv-light);
}

#qvViajeDetalles {
	.qv-card {
		height: 100%;
	}
}

.qv-chip+.qv-chip {
	margin-top: 30px;
}
.qv-chip-icon {
	padding-left: 40px;
	position: relative;
}
.qv-chip-icon:before {
	position: absolute;
	top: 15px;
	left: 0;
	width: 30px;
	height: 30px;
	font-size: 1.5em;
	text-align: center;
	object-fit: contain;
}
.qv-chip-importe:before {
	content: "💲";
}
.qv-chip-distancia:before {
	content: "🌎";
}
.qv-chip-origen:before, .qv-chip-destino:before {
	content: "📍";
}

.qv-avatar {
	img {
		border-radius: 100%;
		object-fit: cover;
	}
}
.qv-chip-viaje +.qv-chip-viaje {
	margin-top: 20px;
}
.qv-chip-viaje-perfil {
	.qv-grid {
		grid-template-columns: 70px 1fr;
		align-items: center;
	}
	.qv-grid-phone {
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}
	p {
		margin-bottom: 0;
	}
	.qv-perfil-name {
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 1.2em;
	}
	.qv-perfil-action {
		margin-top: 20px;
	}
}

.qv-resaltado {
	/*font-size: 1.3em;*/
	color: var(--qv-dark);
	font-weight: 600;
}

.qv-card {
	padding: var(--qv-padding-lg) var(--qv-padding-sm);
	background-color: white;
	border: solid 1px #ccc;
	border-radius: 10px;
}
@media (min-width: 981px) {
	.qv-card {
		padding:  var(--qv-padding-lg);
	}
}
.qv-card+.qv-card {
	margin-top: var(--qv-gap);
}
.site-content {
	padding-bottom: 60px;
}

#qvChipConductor {
	.qv-grid {
		grid-template-columns: 135px 1fr;
		.qv-avatar {
			display: flex;
			img {
				width: 70px;
				height: 70px;
				z-index: 2;
			}
			img:nth-child(2) {
				margin-left: -10px;
				z-index: 1;
			}
		}
		> div {
			text-align: right;
			p {
				margin-bottom: 0px;
				line-height: 1.2em;
			}
			.qv-perfil-name {
				margin-bottom: 0px;
				font-weight: normal;
				font-size: 1em;
				text-transform: uppercase;
			}
			.qv-perfil-patente {
				font-weight: bold;
				font-size: 1.3em;
			}
			.qv-perfil-auto {}
		}
	}
}
#qvChipPasajero {}
#qvChipObservaciones {
	p {
		margin-bottom: 0;
	}
}
#qvMainMap {
	width: 100%;
	height: 100%;
	.qv-card {
		padding: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		#qvChipMap {
			width: 100%;
			height: 100%;
		}
	}
}