:root {
	--qv-gap: 20px;
	--qv-padding-sm: 15px;
	--qv-padding-lg: 30px;
	--qv-primary: #c14242;
	--qv-dark: #333;
	--qv-light: white;
	--qv-muted: #e3e3e3;
	--qv-radius: 10px;
	--qv-breakpoints-md: 981px;
}
/* THEME */
@media (min-width: 768px) {
	.col-full {
		max-width: 90em !important;
	}
}

/*helpers*/
.qv-list {
	margin-left: 0;
	margin-bottom: 0;
	list-style: none;
}

/*Grilla*/
.qv-grid {
	display: grid;
	gap: var(--qv-gap);
}
@media (min-width: 981px) {
	.qv-grid-1-1 {
		grid-template-columns: repeat(2, 1fr);
	}
	.qv-grid-1-2 {
		grid-template-columns: 1fr 2fr;
	}
	.qv-grid-1-3 {
		grid-template-columns: 1fr 3fr;
	}
	.qv-grid-2-3 {
		grid-template-columns: 2fr 3fr;
	}
}

.qv-header {
	h1 {
		margin-bottom: 0;
	}
}

p {
	margin-bottom: 10px;
	line-height: 1.5em;
}
.qv-btn {
	padding: 5px 10px;
	display: block;
	border-radius: var(--qv-radius);
	background-color: var(--qv-primary);
	text-align: center;
	color: var(--qv-light);
}

#qvViajeDetalles {
	@media (min-width: 981px) {
		grid-template-columns: 400px 1fr;
	}
	.qv-card {
		height: 100%;
	}
}
.qv-chip {
	p {
		margin-bottom: 0;
	}
}
.qv-chip+.qv-chip {
	margin-top: 15px;
	padding-top: 15px;
	border-top: solid 1px var(--qv-muted);
}
.qv-chip-icon {
	padding-left: 40px;
	position: relative;
}
.qv-chip-icon:before {
	position: absolute;
	top: 15px;
	left: 0;
	width: 30px;
	height: 30px;
	font-size: 1.5em;
	text-align: center;
	object-fit: contain;
}
.qv-chip-status:before {
	content: "ℹ️";
}
.qv-chip-date:before {
	content: "📅";
}
.qv-chip-importe:before {
	content: "💲";
}
.qv-chip-distancia:before {
	content: "🗺️";
}
.qv-chip-origen:before, .qv-chip-destino:before {
	content: "📍";
}

.qv-avatar {
	img {
		border-radius: 100%;
		object-fit: cover;
	}
}
.qv-chip-viaje-perfil {
	text-align: right;
	> div {
		p {
			margin-bottom: 0px;
			line-height: 1.2em;
		}
		.qv-perfil-name {
			margin-bottom: 0px;
			font-weight: normal;
			font-size: 1em;
			text-transform: uppercase;
		}
		.qv-perfil-patente {
			font-weight: bold;
			font-size: 1.3em;
		}
		.qv-perfil-auto {}
	}
	.qv-grid {
		grid-template-columns: 70px 1fr;
		align-items: center;
	}
	.qv-grid-phone {
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}
	p {
		margin-bottom: 0;
	}
	.qv-perfil-name {
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 1.2em;
	}
	.qv-perfil-action {
		margin-top: 20px;
	}
}

.qv-resaltado {
	/*font-size: 1.3em;*/
	color: var(--qv-dark);
	font-weight: 600;
}

.qv-card {
	padding: var(--qv-padding-lg) var(--qv-padding-sm);
	background-color: white;
	border: solid 1px var(--qv-muted);
	border-radius: 10px;
}
@media (min-width: 981px) {
	.qv-card {
		padding:  var(--qv-padding-lg);
	}
}
.qv-card+.qv-card {
	margin-top: var(--qv-gap);
}
.site-content {
	padding-bottom: 60px;
}

#qvChipConductor {
	.qv-grid {
		grid-template-columns: 130px 1fr;
		.qv-avatares {
			display: flex;
			.qv-avatar {
				width: 70px;
				height: 70px;
				z-index: 2;
				border-radius: 100%;
				img {
					object-fit: cover;
					background: red;
					height: 70px;
					width: 70px;
				}
			}
			.qv-avatar:nth-child(2) {
				margin-left: -10px;
				z-index: 1;
			}
		}
	}
}
#qvChipPasajero {
	.qv-perfil-name {
		font-weight: bold;
		font-size: 1.3em;
	}
}
#qvChipViaje {
	p+p {
		margin-top: 10px;
	}
}
#qvChipObservaciones {
	p {
		margin-bottom: 0;
	}
}
#qvMainMap {
	width: 100%;
	height: 100%;
	.qv-card {
		padding: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		#qvChipMap {
			width: 100%;
			height: 100%;
		}
	}
}